name: Python checks

on:
    push:
        branches:
            - main
    pull_request:
    schedule:
      - cron:  '0 9 * * 1'
    workflow_dispatch:

permissions: read-all

jobs:
    test:
        strategy:
            fail-fast: false
            matrix:
                python-version:
                    - '3.11'
                    - '3.12'
                    - '3.13'
                os:
                    - 'ubuntu-latest'
                    - 'windows-latest'
                    - 'macos-latest'
        runs-on: ${{ matrix.os }}

        permissions:
            contents: write

        steps:
            - name: Harden runner
              uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2
              with:
                  disable-sudo: true
                  egress-policy: block
                  allowed-endpoints: >
                      files.pythonhosted.org:443
                      github.com:443
                      pypi.org:443
                      raw.githubusercontent.com:443

            - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3

            - name: Set up Python ${{ matrix.python-version }}
              uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548
              with:
                  python-version: ${{ matrix.python-version }}
                  cache: pip

            - name: Install uv
              uses: install-pinned/uv@aa380d2c49f39e53fe6f5635484bb766098ba8b4

            - name: Install module and dependencies
              run: |
                  uv pip install --system -e .[dev]
                  uv pip install --system -e .[github-actions]

            - id: cache-pytest
              uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830
              with:
                  path: .pytest_cache
                  key: ${{ runner.os }}-pytest-${{ matrix.python-version }}-${{ hashFiles('pyproject.toml') }}

            - name: Test with pytest
              run: |
                  pytest
              env:
                  COVERAGE_FILE: .coverage.${{ runner.os }}.${{ matrix.python-version }}

            - name: Store coverage file
              uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02
              with:
                  name: coverage-${{ runner.os }}${{ matrix.python-version }}
                  path: .coverage.${{ runner.os }}.${{ matrix.python-version }}
                  include-hidden-files: true

    ruff-format:
        runs-on: ubuntu-latest

        permissions:
            pull-requests: write

        steps:
            - name: Harden runner
              uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2
              with:
                  disable-sudo: true
                  egress-policy: block
                  allowed-endpoints: >
                      files.pythonhosted.org:443
                      github.com:443
                      pypi.org:443

            - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3

            - name: Set up Python 3.13
              uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548
              with:
                  python-version: '3.13'
                  cache: pip

            - name: Install uv
              uses: install-pinned/uv@aa380d2c49f39e53fe6f5635484bb766098ba8b4

            - name: Install module and dependencies
              run: |
                  uv pip install --system -e .[dev]

            - id: cache-ruff
              uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830
              with:
                  path: .ruff_cache
                  key: ${{ runner.os }}-ruff-3.13-${{ hashFiles('pyproject.toml') }}

            - name: Run ruff format
              id: run-ruff
              run: |
                  ruff format --diff .

    ruff-check:
        runs-on: ubuntu-latest

        permissions:
            pull-requests: write
            security-events: write

        steps:
            - name: Harden runner
              uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2
              with:
                  disable-sudo: true
                  egress-policy: block
                  allowed-endpoints: >
                      api.github.com:443
                      files.pythonhosted.org:443
                      github.com:443
                      pypi.org:443

            - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3

            - name: Set up Python 3.13
              uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548
              with:
                  python-version: '3.13'
                  cache: pip

            - name: Install uv
              uses: install-pinned/uv@aa380d2c49f39e53fe6f5635484bb766098ba8b4

            - name: Install module and dependencies
              run: |
                  uv pip install --system -e .[dev]

            - id: cache-ruff
              uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830
              with:
                  path: .ruff_cache
                  key: ${{ runner.os }}-ruff-3.13-${{ hashFiles('pyproject.toml') }}

            - name: Generate SARIF file with ruff check
              id: run-ruff-sarif
              run: |
                  ruff check --output-format=sarif -o results.sarif .

            - name: Upload SARIF file to code scanning
              if: ( success() || failure() ) && contains('["success", "failure"]', steps.run-ruff-sarif.outcome)
              uses: github/codeql-action/upload-sarif@fe4161a26a8629af62121b670040955b330f9af2
              with:
                  sarif_file: results.sarif

            - name: Run ruff
              id: run-ruff
              if: ( success() || failure() ) && contains('["success", "failure"]', steps.run-ruff-sarif.outcome)
              run: |
                  ruff check --output-format=github .

    bandit:
        runs-on: ubuntu-latest

        permissions:
            security-events: write

        steps:
            - name: Harden runner
              uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2
              with:
                  disable-sudo: true
                  egress-policy: block
                  allowed-endpoints: >
                      api.github.com:443
                      files.pythonhosted.org:443
                      github.com:443
                      pypi.org:443

            - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3

            - name: Set up Python 3.13
              uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548
              with:
                  python-version: '3.13'
                  cache: pip

            - name: Install uv
              uses: install-pinned/uv@aa380d2c49f39e53fe6f5635484bb766098ba8b4

            - name: Install module and dependencies
              run: |
                  uv pip install --system -e .[dev]

            - id: run-bandit-sarif
              run: |
                  bandit --confidence-level 'medium' --severity-level 'medium' --recursive 'src' --format 'sarif' --output 'results.sarif'

            - uses: github/codeql-action/upload-sarif@fe4161a26a8629af62121b670040955b330f9af2
              if: ( success() || failure() ) && contains('["success", "failure"]', steps.run-bandit-sarif.outcome)
              with:
                  sarif_file: results.sarif

            - id: run-bandit
              if: failure() && contains('["failure"]', steps.run-bandit-sarif.outcome)
              run: |
                  bandit --confidence-level 'medium' --severity-level 'medium' --recursive 'src'

    mypy:
        runs-on: ubuntu-latest

        steps:
            - name: Harden runner
              uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2
              with:
                  disable-sudo: true
                  egress-policy: block
                  allowed-endpoints: >
                      files.pythonhosted.org:443
                      github.com:443
                      pypi.org:443

            - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3

            - name: Set up Python 3.13
              uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548
              with:
                  python-version: '3.13'
                  cache: pip

            - name: Install uv
              uses: install-pinned/uv@aa380d2c49f39e53fe6f5635484bb766098ba8b4

            - name: Install module and dependencies
              run: |
                  uv pip install --system -e .[dev]

            - id: cache-mypy
              uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830
              with:
                  path: .mypy_cache
                  key: ${{ runner.os }}-mypy-${{ hashFiles('pyproject.toml') }}

            - name: Run mypy
              run: |
                  mypy .


    coverage:
        runs-on: ubuntu-latest

        needs: test

        permissions:
            pull-requests: write
            contents: write

        steps:
            - name: Harden runner
              uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2
              with:
                disable-sudo: true
                egress-policy: block
                allowed-endpoints: >
                    api.github.com:443
                    github.com:443
                    img.shields.io:443

            - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3

            - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53
              id: download
              with:
                  pattern: coverage-*
                  merge-multiple: true

            - name: Coverage comment
              id: coverage_comment
              uses: py-cov-action/python-coverage-comment-action@e623398c19eb3853a5572d4a516e10b15b5cefbc
              with:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  MERGE_COVERAGE_FILES: true

            - name: Store Pull Request comment to be posted
              uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02
              if: steps.coverage_comment.outputs.COMMENT_FILE_WRITTEN == 'true'
              with:
                  name: python-coverage-comment-action
                  path: python-coverage-comment-action.txt

    pre-commit:
        runs-on: ubuntu-latest

        needs:
            - ruff-format
            - ruff-check
            - bandit

        permissions:
            contents: write

        steps:
            - name: Harden runner
              uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2
              with:
                  disable-sudo: true
                  egress-policy: block
                  allowed-endpoints: >
                      files.pythonhosted.org:443
                      github.com:443
                      proxy.golang.org:443
                      pypi.org:443

            - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3

            - name: Set up Python 3.13
              uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548
              with:
                  python-version: 3.13
                  cache: pip

            - name: Install uv
              uses: install-pinned/uv@aa380d2c49f39e53fe6f5635484bb766098ba8b4

            - name: Install module and dependencies
              run: |
                  uv pip install --system -e .[dev]

            - id: cache-pre-commit
              uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830
              with:
                  path: .pre-commit-cache
                  key: ${{ runner.os }}-pre-commit-3.13

            - name: Run pre-commit
              run: |
                  pre-commit install
                  pre-commit run --all-files
              env:
                  PRE_COMMIT_HOME: .pre-commit-cache
